#!/bin/bash

PINK='\033[0;35m'
NC='\033[0m' # No Color

function print_color () {
  printf "${PINK}$@\n${NC}"
}

# git
alias gs="print_color \"git status\"; git status "
alias ga="print_color \"git add --all\"; git add --all "
alias gc="print_color \"git commit -a\"; git commit -a "
alias gcm="print_color \"git commit -am\"; git commit -am "
alias gacm="ga; gcm "
alias gpl="print_color \"git pull\"; git pull"
alias gf="print_color \"git fetch\"; git fetch"
alias gp="print_color \"git push\"; git push"

function gacmp () {
  ga

  print_color "git commit"
  git commit -am "$@"

  gp
  gs
}

# pacman
alias pi="sudo -A pacman -S"
alias pq="pacman -Ss"
alias pd="sudo -A pacman -Rs"
alias yi="yay -S"

# ls
alias l="exa -la"

# cd
alias clr="clear"
alias cdp="cd $HOME/projects/ && l"
alias cdk="cd $HOME/projects/kodo"
alias cdd="cd $HOME/projects/dwm"

function cl () {
  cd "$@" && l
}

# others
alias v="vim"
